# Ollama Configuration
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=qwen2.5:3b-instruct

# Embedding Model Configuration
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

# Database Paths (These will be generated automatically in the root folder)
DB_PATH=metadata.db
FAISS_INDEX_PATH=vectors.faiss

# Parsing Limits
MAX_FILE_SIZE_MB=100
